@model string
 
  <tr>
    <td style="display:none;"><input type="hidden" name="UserLeavePolicyDetail.Index" value="@Model" /></td>
    <td> @Html.DropDownList("UserLeavePolicyDetail[" + Model + "].LeaveTypeId", (IEnumerable<SelectListItem>)ViewBag.LeaveTypes, null, new { @class = "form-control",style="width: 145px;" })</td>
    <td><input name="UserLeavePolicyDetail[@Model].Allowed" class="form-control" placeholder="Allowed"   > </td>
    <td><input name="UserLeavePolicyDetail[@Model].Taken" class="form-control" placeholder="Taken"   > </td>
    <td><input name="UserLeavePolicyDetail[@Model].Balance" class="form-control" placeholder="Balance" style="width: 50px;" > </td>
    <td> <a href="javascript:void(0);" class=" btn btn-danger removeRow" >x</a></td>
 
  </tr>
 


